<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--네임스페이스에 매퍼인터페이스 패키지를 적음-->
<mapper namespace="com.mysite.mybatis.mapper.ProductMapper">

    <select id="selectProductById" resultType="Product">
        SELECT prod_id
             ,prod_name
             ,prod_price
        FROM products
        WHERE prod_id = #{id}
    </select>

    <select id="selectAllProducts" resultType="Product">
        SELECT prod_id
             ,prod_name
             ,prod_price
        FROM products
    </select>

</mapper>